<template>
    <div id="link_web" style="position: absolute; top: 3px; right: 150px; font-size: 18px;"></div>
</template>
<style>
.el-dropdown-link {
    cursor: pointer;
    color: #545c64;
}
</style>
<script>
export default{
    mounted() {
        setInterval("link_web.innerHTML=new Date().toLocaleString('zh-TW')+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",1000);
    },
}
</script>
