<template #default="gantt">
    <el-table :data="tableData" style="width: 100%; font-size: 12px;">
        <el-table-column fixed align="center" label="Event" width="300">
            <el-table-column prop="event" align="center" label="Event" width="120"/>
            <el-table-column align="center" label="Period" width="90">
                <template #default="scope">
                    <div>{{ new Date(Date.parse(scope.row.start_at)).getFullYear() + '-' + (new Date(Date.parse(scope.row.start_at)).getMonth()+1) + '-' + new Date(Date.parse(scope.row.start_at)).getDate() }}</div>
                    <div>&nbsp;~&nbsp;</div>
                    <div>{{ new Date(Date.parse(scope.row.end_at)).getFullYear() + '-' + (new Date(Date.parse(scope.row.end_at)).getMonth()+1) + '-' + new Date(Date.parse(scope.row.end_at)).getDate() }}</div>
                </template>
            </el-table-column>
            <el-table-column align="center" label="Operations" width="90">
                <template #default="scope">
                    <div style="margin-bottom: 10px">
                        <el-button type="primary" size="mini" round @click="tableEdit(scope.row)">
                            <i class="el-icon-edit"></i>
                        </el-button>
                    </div>
                    <div>
                        <el-button type="danger" size="mini" round @click="deleteGanttEventConfirm(scope.row.id)">
                            <i class="el-icon-delete"></i>
                        </el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table-column>
        <el-table-column align="center" v-for="items in calendar_full_date_list" :label="items.title">
            <el-table-column align="center" v-for="item in items.day" :label="item.day.toString()" width="40">
                <template #default="scope">
                    <div v-if="Date.parse(item.full_date) === Date.parse(scope.row.start_at)" class="circle"
                         style="background-color: #c8c8ff; position: relative;"></div>
                    <div v-else-if="Date.parse(item.full_date) === Date.parse(scope.row.end_at)" class="circle"
                         style="background-color: #c8c8ff; position: relative; right: 150%;"></div>
                    <div
                        v-else-if="Date.parse(item.full_date) <= Date.parse(scope.row.end_at) && Date.parse(item.full_date) >= Date.parse(scope.row.start_at)"
                        class="circle" style="background-color: #c8c8ff; position: relative; right: 80%;"></div>
                    <div v-else></div>
                </template>
            </el-table-column>
        </el-table-column>
    </el-table>
    <el-button type="success" size="medium" @click="tableEdit()" style="margin-top: 20px;">
        新建
    </el-button>
    <el-dialog v-model="table_dialog_visible">
        <el-form :model="form" ref="table_dialog" :rules="table_dialog_rules" :label-width="formLabelWidth">
            <el-form-item prop="event" label="事件">
                <el-input v-model="form.event" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item prop="start_at" label="開始">
                <el-date-picker
                    v-model="form.start_at"
                    type="date"
                    placeholder="選擇開始日期">
                </el-date-picker>
            </el-form-item>
            <el-form-item prop="end_at" label="結束">
                <el-date-picker
                    v-model="form.end_at"
                    type="date"
                    placeholder="選擇結束日期">
                </el-date-picker>
            </el-form-item>
        </el-form>
        <template #footer>
            <span class="dialog-footer">
                <el-button @click="table_dialog_visible = false">取消</el-button>
                <el-button type="primary" @click="onSubmit()">送出</el-button>
            </span>
        </template>
    </el-dialog>
</template>

<script>
export default {
    data() {
        return {
            form: {},
            formLabelWidth: '120px',
            tableData: [],
            calendar_start: new Date(),
            calendar_end: new Date(),
            calendar_full_date_list: [],
            table_dialog_visible: false,
            table_dialog_rules: {
                event: [{required: true, message: 'This field is not filled.'}],
                start_at: [{required: true, message: 'This field is not filled.'}],
                end_at: [{required: true, message: 'This field is not filled.'}],
            },
        }
    },
    created() {
        this.getGanttList();
    },
    mounted() {
        this.timer = setInterval(() => {
            this.getGanttList();
        }, 1000 * 300)
    },
    methods: {
        async getGanttList() {
            let axios_response;
            await axios.get('/schedule/gantt/get', {}).then(function (response) {
                axios_response = response
                console.log(response);
            }).catch(function (error) {
                console.log(error);
            });
            this.tableData = [];
            this.calendar_month_list = [];
            this.calendar_start = new Date();
            this.calendar_end = new Date();
            for (let i = 0; i < axios_response.data.length; i++) {
                if (this.calendar_start > Date.parse(axios_response.data[i]['start_at'])) {
                    this.calendar_start = new Date(Date.parse(axios_response.data[i]['start_at']))
                }
                if (this.calendar_end < Date.parse(axios_response.data[i]['end_at'])) {
                    this.calendar_end = new Date(Date.parse(axios_response.data[i]['end_at']))
                }
                this.tableData.push({
                    id: axios_response.data[i]['id'],
                    event: axios_response.data[i]['event'],
                    start_at: axios_response.data[i]['start_at'],
                    end_at: axios_response.data[i]['end_at'],
                })
            }
            let full_date, new_year, new_month, new_date, new_weekday, last_month;
            let month_array = [], day_array = [];
            let difDays = parseInt(Math.abs((this.calendar_end - this.calendar_start) / 1000 / 60 / 60 / 24).toString())
            for (let i = 0; i <= difDays; i++) {
                full_date = new Date(Date.parse(this.calendar_start) + i * 1000 * 60 * 60 * 24);
                new_year = full_date.getFullYear();
                new_month = full_date.getMonth() + 1;
                new_date = full_date.getDate();
                new_weekday = full_date.getDay();

                if (new_month !== last_month) {
                    if (last_month) {
                        month_array.push({
                            title: new_year + '-' + last_month,
                            day: day_array,
                        })
                    }
                    last_month = new_month;
                    day_array = [];
                }

                day_array.push({
                    full_date: full_date,
                    day: full_date.getDate(),
                    weekday: full_date.getDay()
                })
            }
            month_array.push({
                title: new_year + '-' + last_month,
                day: day_array,
            })
            this.calendar_full_date_list = month_array;
            console.log(this.calendar_full_date_list);
        },
        tableEdit(data) {
            console.log(data);
            this.form = {};
            if (data) {
                this.form = data;
            }
            this.table_dialog_visible = true;
            this.$nextTick(() => {
                this.$refs['table_dialog'].clearValidate();
            });
        },
        onSubmit() {
            this.$refs['table_dialog'].validate((valid) => {
                if (valid) {
                    this.table_dialog_visible = false;
                    this.$swal.fire({
                        title: 'Wait for updating...',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showConfirmButton: false,
                        showCancelButton: false,
                        showDenyButton: false,
                        didOpen: async () => {
                            let axios_response = null;
                            let start_date = new Date(Date.parse(this.form.start_at)).getFullYear() + '-' + (new Date(Date.parse(this.form.start_at)).getMonth()+1) + '-' + new Date(Date.parse(this.form.start_at)).getDate();
                            let end_date = new Date(Date.parse(this.form.end_at)).getFullYear() + '-' + (new Date(Date.parse(this.form.end_at)).getMonth()+1) + '-' + new Date(Date.parse(this.form.end_at)).getDate();
                            console.log('API: post => /schedule/update-gantt/post');
                            await axios.post('/schedule/update-gantt/post', {
                                id: this.form.id,
                                event: this.form.event,
                                start_at: start_date,
                                end_at: end_date,
                            })
                                .then(function (response) {
                                    console.log(response);
                                    axios_response = response
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });
                            if (axios_response !== null) {
                                if (axios_response.status === 201) {
                                    this.$swal.fire({
                                        icon: 'success',
                                        title: 'Update Success!!',
                                        timer: 2000
                                    })
                                    location.reload();
                                }
                            } else {
                                this.$swal.fire({
                                    icon: 'error',
                                    title: 'Update Fail!!',
                                    text: 'API has bad return!',
                                    timer: 2000
                                })
                            }
                        },
                    })
                }
            });
        },
        deleteGanttEventConfirm(event_id) {
            this.$swal.fire({
                title: 'Do you want to remove this event?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Remove',
            }).then((result) => {
                if (result.isConfirmed) {
                    this.$swal({
                        title: 'Wait for deleting...',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showConfirmButton: false,
                        showCancelButton: false,
                        showDenyButton: false,
                        didOpen: () => {
                            this.deleteGanttEvent(event_id)
                        },
                    });
                }
            })
        },
        async deleteGanttEvent(event_id) {
            let axios_response;
            console.log('API: delete => /schedule/delete-gantt/delete/' + event_id);
            await axios.delete('/schedule/delete-gantt/delete/' + event_id, {})
                .then(function (response) {
                    axios_response = response
                    console.log(response);
                }).catch(function (error) {
                    console.log(error);
                });
            if (axios_response !== null) {
                if (axios_response.status === 204) {
                    this.$swal.fire({
                        icon: 'success',
                        title: 'Delete Success!!',
                        timer: 2000
                    })
                    location.reload();
                } else {
                    this.$swal.fire({
                        icon: 'error',
                        title: 'Delete Fail!!',
                        text: 'API has bad return!',
                        timer: 2000
                    })
                }
            } else {
                this.$swal.fire({
                    icon: 'error',
                    title: 'Delete Fail!!',
                    text: 'API has bad return!',
                    timer: 2000
                })
            }
        },
    }
    ,
    components: {}
    ,
}
</script>
<style scoped>
.circle {
    width: 50px;
    height: 15px;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}
</style>
